*.zip
foursquare_data/
gowalla_data/
nearby-master/
ycl-nearby-master/
src/test*
src/*.dat
src/*.txt
*.graph
*.hash
poidata/
.idea/*
data/*
tmp*
*.matrix
*.csv
yoochoose_graph*
SG_foursquare_graph*
SG_gowalla_graph*
good_luck.csv
src/CA_foursquare_graph_1
src/CA_foursquare_graph_2
